* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: "Poppins";
    font-style: normal;
    color: #000000;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.container {
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 100%;
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        display: grid;
        grid-template-columns: 40% 50%;
        grid-gap: 1rem;
    }
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-menu {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ffffff;
    padding: 3em 2.5em 1.5em 4.1em;
    @media screen and (max-width: 1200px) {
        display: none;
    }
    &__logotype {
        display: flex;
        align-items: center;
        margin-bottom: 7.7em;

        @media screen and (max-width: 1200px) {
            position: relative;
            visibility: visible;
            z-index: 1;
            left: 23em;
            top: -3vh;
        }
    }

    &__logotype-logo {
        width: 2.6em;
        margin-right: 1.6em;
    }
    &__logotype-link {
        font-weight: 600;
        font-size: 27px;
        line-height: 40px;
        text-decoration: none;
        color: #111026;
    }
    &__list {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__list-item {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        text-decoration: none;
        color: #111026;
        margin-bottom: 3.3em;
        &:last-child {
            margin-bottom: 8.5em;
        }
        &:hover {
            border-right: 3px solid #5e81f4;
            transition: ease-in-out 0.3s;
        }
    }
    &__list-icon {
        margin-right: 2.6em;
        &:hover {
            color: #5e81f4;
            transition: ease-in-out 0.3s;
        }
    }

    &__upgrade {
        text-align: center;
        padding: 0 30px 27px 30px;
        background: #f5f5fb;
        border-radius: 17px;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__upgrade-img {
        width: 6.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2em;
    }

    &__upgrade-subscription {
        width: 9.8em;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #a2a2c2;
        margin-bottom: 2em;
    }
    &__upgrade-colortext {
        font-weight: 600;
        color: #111026;
    }
    &__upgrade-button {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #fefefe;
        text-decoration: none;
        padding: 15px 45px;
        background: #5e81f4;
        border-radius: 14px;
    }
}
// BURGER
.burger-menu {
    display: none;
    @media screen and (max-width: 1200px) {
        display: block;
        position: relative;
        left: 36vw;
        top: -19em;
    }
    @media screen and (max-width: 800px) {
        top: 11vh;
        left: 35vw;
    }
    @media screen and (max-width: 500px) {
        left: 63vw;
    }
    @media screen and (max-width: 370px) {
        left: 95vw;
    }
}

#menu__toggle {
    position: absolute;
    display: none;
}

.menu__btn {
    display: block;
    position: relative;
    right: 2.5em;
    bottom: 0.7em;
    width: 40px;
    cursor: pointer;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #090909;
    border-radius: 20px;
    z-index: 10;
    transition: ease-in-out 0.3s;
}
.menu__btn span::before {
    content: "";
    top: -9px;
}
.menu__btn span::after {
    content: "";
    top: 9px;
}
.menu__box {
    position: relative;
    left: -4em;
    top: -12.5em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    visibility: hidden;
    padding: 4em 2em 2em 2em;
    width: 100%;
    max-height: 110vh;
    height: 100%;
    background: #e2e2f5;
    z-index: 6;
    border-radius: 20px;
    @media screen and (max-width: 440px) {
        max-width: 90vw;
    }
    @media screen and (max-width: 375px) {
        top: -13em;
    }
}
.menu__item {
    text-align: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #48464d;
    text-decoration: none;
    margin-bottom: 1em;
}
.menu__box .headers__nav-button:first-of-type {
    margin-right: 0;
    margin-left: 3em;
}
.menu__box .headers__nav-button {
    margin-left: 3em;
}
#menu__toggle:checked ~ .menu__btn span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn span::before {
    top: 0;
    transform: rotate(0);
    background-color: #000000;
}
#menu__toggle:checked ~ .menu__btn span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #000000;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
}
.main-menu__list-item:nth-of-type(5) {
    &::before {
        content: "4";
        position: absolute;
        left: 6.2em;
        padding: 0.3em 0.5em;
        background-color: #ff808b;
        border-radius: 100%;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: #fefefe;
    }
}

.progress {
    background-color: #f5f5fb;
    width: 63.8em;
    padding: 2em 3em;
    box-sizing: content-box;
    @media screen and (max-width: 800px) {
        position: relative;
        top: 5vh;
        padding: 3em 8vw;
        margin-right: auto;
        margin-left: auto;
    }

    &__navigation {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-bottom: 3.3em;
    }

    &__navigation-date {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #111026;
        margin-right: 1.8em;
    }

    &__navigation-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e5e9fa;
        border-radius: 12px;
        width: 3.3em;
        height: 3.3em;
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 63.6em;
        min-height: 13.1em;
        background: #f7e5e9;
        border-radius: 17px;
        margin-bottom: 2.7em;
        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            padding: 1em;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__main-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        color: #ff808b;
        margin-bottom: 27px;
    }

    &__main-subscription {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin: 0;
    }

    &__main-img {
        height: 15.9em;
        margin-top: -3em;
        justify-content: right;
        @media screen and (max-width: 800px) {
            margin-top: 0;
        }
    }

    &__bars {
        display: flex;
        margin-bottom: 2.2em;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__bars-item {
        padding: 0 1.7em 3em 1.7em;
        background: #fdfdfe;
        border-radius: 17px;
        &:first-child {
            margin-right: 2em;
            width: 26.8em;
            height: 29em;
            @media screen and (max-width: 800px) {
                margin-right: 0;
                margin-bottom: 1em;
                width: 100%;
            }
        }
        &:last-child {
            width: 34.8em;
            height: 29em;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }

    &__bars-item-content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid #000000;
        white-space: nowrap;
        &:nth-child(1) {
            border: none;
            padding-top: 2.1em;
            padding-bottom: 1em;
        }
        &:last-child {
            border: none;
            padding-bottom: 2.6em;
        }
    }

    &__bars-item-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #111026;
        margin: 0;
    }

    &__bars-item-link {
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #111026;
        text-decoration: none;
    }

    &__bars-item-subscription {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #a2a2c2;
        margin-left: 0.5em;
        margin-right: 3.1em;
        text-align: left;
        &:last-child {
            margin-right: 0;
        }
    }
    &__bars-item-count {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #ff808b;
        margin-left: 1em;
    }
    &__bars-item-subscriptions {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1.7em;
    }
    &__bars-item-bars {
        display: flex;
        align-items: center;
        margin-top: 3em;
        margin-left: 2.9em;
        margin-bottom: 3.2em;
        height: 12.2em;
    }
    &__bars-item-bar {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        margin-bottom: 3.5em;
        text-align: left;
        margin-left: -9em;
        width: 100%;
        min-width: 14em;
        height: 5px;
    }
    &__bars-item-skills {
        display: flex;
        justify-content: space-evenly;
    }

    &__bars-item-skills--paragraph {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #a2a2c2;
        margin-right: 2.2em;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            background-color: #ff808b;
            margin-left: -1.3em;
        }
        &:nth-of-type(2)::before {
            background-color: #4d4cac;
        }
        &:nth-of-type(3)::before {
            background-color: #5e81f4;
        }
        &:nth-of-type(4)::before {
            background-color: #c8c9e9;
        }
    }

    &__courses-items {
        display: flex;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__courses-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.1em;
        @media screen and (max-width: 1200px) {
            margin-bottom: 1em;
        }
        @media screen and (max-width: 800px) {
            justify-content: space-evenly;
        }
    }
    &__courses-content-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #111026;
    }
    &__courses-content-link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #111026;
        text-decoration: none;
    }
    &__courses-content-img {
        margin-left: 1.3em;
    }
    &__courses-item {
        display: flex;
        align-items: center;
        max-width: 20.1em;
        width: 100%;
        padding: 1.4em;
        &:nth-child(1) {
            background-color: #4d4cac;
            border-radius: 20px;
            margin-right: 1.5em;
            @media screen and (max-width: 1200px) {
                margin-right: 0;
                margin-bottom: 1em;
            }
        }
        &:nth-child(2) {
            background: #9698d6;
            border-radius: 20px;
            margin-right: 1.5em;
            @media screen and (max-width: 1200px) {
                margin-right: 0;
                margin-bottom: 1em;
            }
        }
        &:nth-child(3) {
            background: #ff808b;
            border-radius: 20px;
        }
    }
    &__courses-item-text {
        display: flex;
        flex-direction: column;
    }
    &__courses-item-level {
        padding: 17px 19px;
        margin-right: 1.1em;
        border-radius: 12px;
        background: rgba(254, 254, 254, 0.2);
        color: #ffffff;
    }

    &__courses-item-subscription {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #fefefe;
        opacity: 0.8;
        margin: 0;
    }

    &__courses-item-link {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #fefefe;
        text-decoration: none;
    }
}
progress {
    height: 5px;
    border: 0;
    border-radius: 20px;
    width: 5.7em;
}
progress::-webkit-progress-bar {
    height: 5px;
    border: 0;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    height: 5px;
    border: 0;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    background-color: #dcdce5;
    width: 100%;
}
progress {
    background-color: black;
}
progress::-webkit-progress-value {
    background-color: #5e81f4 !important;
}
progress::-moz-progress-bar {
    background-color: #5e81f4 !important;
}
progress {
    color: #5e81f4;
}

.progress__bars-item-bar {
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
}
.progress__bars-item-bar::-webkit-progress-value {
    background-image: linear-gradient(
        90deg,
        rgba(94, 129, 244, 1) 33%,
        rgba(200, 201, 233, 1) 33%,
        rgba(181, 183, 226, 1) 57%,
        rgba(81, 89, 190, 1) 57%,
        rgba(77, 76, 172, 1) 74%,
        rgba(255, 128, 139, 1) 74%
    );
    border-radius: 10px;
}

.profile {
    background-color: #ffffff;
    max-width: 29.3em;
    padding-top: 3em;
    padding-left: 2.8em;
    padding-right: 5.6em;
    @media screen and (max-width: 1200px) {
        position: absolute;
        top: 1em;
        padding-top: 0.5em;
        width: 30%;
        background-color: transparent;
    }
    @media screen and (max-width: 800px) {
        padding-top: 0;
        display: flex;
        left: 20vw;
        top: 28vh;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3em;
        @media screen and (max-width: 800px) {
            position: relative;
            left: -4vw;
            bottom: 20vh;
            margin-bottom: 0;
        }
    }

    &__navigation-logout {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        text-decoration: none;
        color: #000000;
        @media screen and (max-width: 800px) {
            margin-right: 2em;
        }
    }

    &__information {
        text-align: center;
        margin-bottom: 4em;
        @media screen and (max-width: 1200px) {
            margin-bottom: 1em;
        }
        @media screen and (max-width: 800px) {
            min-width: 40vw;
            position: relative;
            bottom: 10vh;
            left: 20vw;
        }
        @media screen and (max-width: 550px) {
            min-width: 76vw;
        }
        @media screen and (max-width: 430px) {
            left: 45vw;
        }
    }

    &__information-photo {
        width: 100%;
        max-width: 10.5em;
        max-height: 10.5em;
        margin-bottom: 1.8em;
        @media screen and (max-width: 1130px) {
            margin-bottom: 0;
        }
        @media screen and (max-width: 800px) {
            max-height: 19em;
            max-width: 20em;
        }
    }
    &__information-button {
        text-align: center;
        width: 2em;
        height: 2em;
        border-radius: 100%;
        background: #5e81f4;
        border: none;
        color: #ffffff;
        position: relative;
        top: -3em;
        right: 3.5em;
        cursor: pointer;
        &:hover {
            background-color: #f5f5fb;
            color: #5e81f4;
            transition: ease-in-out 0.3s;
        }
    }
    &__information-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #111026;
        margin-bottom: 0.7em;
    }

    &__information-subscription {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #a2a2c2;
    }

    &__levels {
        margin-bottom: 5.5em;
        @media screen and (max-width: 1200px) {
            margin-bottom: 1em;
        }
        @media screen and (max-width: 800px) {
            position: relative;
            left: 40vw;
            bottom: 5vh;
        }
        @media screen and (max-width: 550px) {
            left: 24vw;
        }
        @media screen and (max-width: 430px) {
            left: 68vw;
        }
    }

    &__levels-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 21.8em;
        width: 100%;
        &:nth-child(1) {
            margin-bottom: 2.5em;
            // @media screen and (max-width: 1200px) {
            //     margin-bottom: 0;
            // }
        }
        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }
    }

    &__levels-item-content {
        margin-right: 2.5em;
        margin-left: 1.6em;
        max-width: 7.8em;
        width: 100%;
        @media screen and (max-width: 1200px) {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    &__levels-item-level {
        display: flex;
        align-items: center;
        padding: 1.4em;
        background: #f5f5f7;
        border-radius: 12px;
    }
    &__levels-item-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #111026;
    }

    &__levels-item-subscription {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #a2a2c2;
        margin: 0;
        white-space: nowrap;
    }

    &__reminders {
        @media screen and (max-width: 800px) {
            position: relative;
            left: -90vw;
            top: -11vh;
        }
        @media screen and (max-width: 550px) {
            left: -140vw;
        }
        @media screen and (max-width: 430px) {
            left: -145vw;
        }
    }
    &__reminders-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #111026;
    }
    &__reminders-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1em, 5em));
        justify-items: baseline;
        align-items: center;
        margin-bottom: 2.3em;
        &:nth-child(1) {
            display: flex;
            justify-content: space-between;
        }
        @media screen and (max-width: 800px) {
            position: relative;
            top: -5vh;
            left: -4vw;
            margin-bottom: 1em;
        }
    }

    &__reminders-content-text {
        text-align: left;
    }
    &__reminders-content-icon {
        padding: 1.1em 1.1em;
        border-radius: 12px;

        &:nth-child(1) {
            color: #6083f4;
            background: #eef2fd;
        }
    }

    &__reminders-content-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #131336;
        white-space: nowrap;
        margin-bottom: 8px;
        @media screen and (max-width: 1200px) {
            margin-top: 1em;
        }
    }

    &__reminders-content-subscription {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #a2a2c2;
    }
}
.profile__reminders-content:nth-child(2) .profile__reminders-content-icon {
    background: #fef2f3;
    color: #ff606d;
}
.profile__reminders-content:nth-child(1) .profile__reminders-content-icon {
    position: relative;
    color: #a2a2c2;
}
.profile__reminders-content:nth-child(1) .profile__reminders-content-icon::after {
    content: "";
    position: absolute;
    right: 1.2em;
    width: 0.5em;
    height: 0.5em;
    background-color: #ff808b;
    border-radius: 20px;
}
