body {
    font-family: "Poppins";
    font-style: normal;
    color: #000000;
}
.wrapper {
    background-color: #e5e5e5;
}
.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
}
.main-menu {
    display: grid;
    grid-template-columns: 1fr;
    &__logotype {
        display: flex;
        align-items: center;
        margin-bottom: 7.7em;
    }

    &__logotype-logo {
        width: 2.6em;
        margin-right: 1.6em;
    }
    &__logotype-link {
        font-weight: 600;
        font-size: 27px;
        line-height: 40px;
        text-decoration: none;
        color: #111026;
    }
    &__list {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }

    &__list-item {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        text-decoration: none;
        color: #111026;
        margin-bottom: 3.3em;
        &:last-child {
            margin-bottom: 8.5em;
        }
        &:hover {
            border-right: 3px solid #5e81f4;
            transition: ease-in-out 0.3s;
        }
    }
    &__list-icon {
        margin-right: 2.6em;
        &:hover {
            color: #5e81f4;
            transition: ease-in-out 0.3s;
        }
    }

    &__upgrade {
        text-align: center;
        padding: 0 30px 27px 30px;
        background: #f5f5fb;
        border-radius: 17px;
    }

    &__upgrade-img {
        width: 6.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2em;
    }

    &__upgrade-subscription {
        width: 9.8em;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #a2a2c2;
        margin-bottom: 2em;
    }

    &__upgrade-button {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #fefefe;
        text-decoration: none;
        padding: 15px 45px;
        background: #5e81f4;
        border-radius: 14px;
    }
}
.progress {
    &__navigation {
        display: flex;
        justify-content: right;
        margin-bottom: 10px;
    }

    &__navigation-date {
    }

    &__navigation-link {
    }

    &__main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 63.6em;
        height: 13.1em;
        background: #f7e5e9;
        border-radius: 17px;
    }

    &__main-content {
    }

    &__main-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        color: #ff808b;
        margin-bottom: 27px;
    }

    &__main-subscription {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin: 0;
    }

    &__main-img {
        height: 15.9em;
        margin-top: -3em;
    }

    &__bars {
        display: flex;
    }

    &__bars-item {
        padding: 34px 30px;
        background: #fdfdfe;
        border-radius: 17px;
        &:first-child {
            margin-right: 2em;
            width: 26.8em;
            height: 29em;
        }
        &:last-child{
            width: 34.8em;
            height: 29em;
        }
    }

    &__bars-item-content {
        display: flex;
        align-items: center;
    }

    &__bars-item-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #111026;
        margin: 0;
    }

    &__bars-item-link {
    }

    &__bars-item-subscription {
        margin: 0;
    }
    &__bars-item-subscriptions {
        display: flex;
    }
    &__bars-item-bars{
        display: flex;
        flex-grow: 1;
        width: 558px;
        position: relative;

    }
    &__bars-item-bar{
        transform: rotate(90deg);
    }
    &__bars-item-skills {
        display: flex;
    }
    &__courses {
        display: flex;
    }

    &__courses-title {
    }

    &__courses-link {
    }

    &__courses-item {
    }

    &__courses-item-level {
    }

    &__courses-item-subscription {
    }

    &__courses-item-link {
    }
}

.profile {
    &__navigation {
    }

    &__navigation-logout {
    }

    &__navigation-btn {
    }

    &__information {
    }

    &__information-photo {
    }

    &__information-title {
    }

    &__information-subscription {
    }
}
