* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Poppins";
  font-style: normal;
  color: #000000;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18% 60% 23%;
  grid-template-columns: 18% 60% 23%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24% 1rem 74%;
    grid-template-columns: 24% 74%;
    grid-gap: 1rem;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  padding: 3em 2.5em 1.5em 1.5em;
}
@media screen and (max-width: 1280px) {
  .main-menu {
    display: none;
  }
}
.main-menu__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7.7em;
}
@media screen and (max-width: 1280px) {
  .main-menu__logotype {
    position: relative;
    visibility: visible;
    z-index: 1;
    left: 5em;
    top: -3vh;
  }
}
@media screen and (max-width: 340px) {
  .main-menu__logotype {
    left: 1em;
  }
}
.main-menu__logotype-logo {
  width: 2.6em;
  margin-right: 1.6em;
}
.main-menu__logotype-link {
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  text-decoration: none;
  color: #111026;
}
.main-menu__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 1280px) {
  .main-menu__list {
    display: none;
  }
}
.main-menu__list-item {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  text-decoration: none;
  color: #111026;
  margin-bottom: 2.9em;
}
.main-menu__list-item:last-child {
  margin-bottom: 8.5em;
}
.main-menu__list-item:hover {
  border-right: 3px solid #5e81f4;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.main-menu__list-icon {
  margin-right: 2.6em;
}
.main-menu__list-icon:hover {
  color: #5e81f4;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.main-menu__upgrade {
  width: 100%;
  text-align: center;
  padding: 0 30px 27px 30px;
  background: #f5f5fb;
  border-radius: 17px;
}
@media screen and (max-width: 1680px) {
  .main-menu__upgrade {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 1280px) {
  .main-menu__upgrade {
    display: none;
  }
}
.main-menu__upgrade-img {
  width: 100%;
  max-width: 6.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2em;
}
.main-menu__upgrade-subscription {
  width: 100%;
  max-width: 9.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a2a2c2;
  margin-bottom: 2em;
}
.main-menu__upgrade-colortext {
  font-weight: 600;
  color: #111026;
}
.main-menu__upgrade-button {
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #fefefe;
  text-decoration: none;
  padding: 1em 2.3em;
  background: #5e81f4;
  border-radius: 14px;
}

.main-menu__list-item:nth-of-type(5)::before {
  content: "4";
  position: absolute;
  left: 1em;
  padding: 0.3em 0.5em;
  background-color: #ff808b;
  border-radius: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #fefefe;
}

.main-menu__list-item:nth-of-type(5) {
  position: relative;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 1280px) {
  .burger-menu {
    display: block;
    position: relative;
    left: 36vw;
    top: 3em;
  }
}
@media screen and (max-width: 1140px) {
  .burger-menu {
    top: 6vh;
    left: 16vw;
  }
}
@media screen and (max-width: 470px) {
  .burger-menu {
    left: 1em;
  }
}
@media screen and (max-width: 375px) {
  .burger-menu {
    left: 2em;
  }
}

#menu__toggle {
  position: absolute;
  display: none;
}

.menu__btn {
  display: block;
  position: relative;
  right: 2.5em;
  bottom: 0.7em;
  width: 40px;
  cursor: pointer;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #090909;
  border-radius: 20px;
  z-index: 10;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.menu__btn span::before {
  content: "";
  top: -9px;
}

.menu__btn span::after {
  content: "";
  top: 9px;
}

.menu__box {
  position: relative;
  left: -4em;
  top: -12.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  visibility: hidden;
  padding: 4em 2em 2em 2em;
  width: 150%;
  max-width: 100vw;
  max-height: 85vh;
  height: 100%;
  background: #e2e2f5;
  z-index: 6;
  border-radius: 20px;
}
@media screen and (max-width: 540px) {
  .menu__box {
    max-width: 75vw;
  }
}
@media screen and (max-width: 375px) {
  .menu__box {
    left: -2.8em;
    max-width: 88vw;
  }
}

.menu__item {
  text-align: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #48464d;
  text-decoration: none;
  margin-bottom: 1em;
}

.menu__box .headers__nav-button:first-of-type {
  margin-right: 0;
  margin-left: 3em;
}

.menu__box .headers__nav-button {
  margin-left: 3em;
}

#menu__toggle:checked ~ .menu__btn span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #000000;
}

#menu__toggle:checked ~ .menu__btn span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #000000;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
}

.progress {
  background-color: #f5f5fb;
  max-width: 63.8em;
  padding: 2em 3em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (max-width: 1140px) {
  .progress {
    position: relative;
    top: 5vh;
    padding: 3em 8vw;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}
.progress__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.3em;
}
.progress__navigation-date {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #111026;
  margin-right: 1.8em;
}
.progress__navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e9fa;
  border-radius: 12px;
  width: 3.3em;
  height: 3.3em;
}
.progress__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  max-width: 63.6em;
  min-height: 13.1em;
  background: #f7e5e9;
  border-radius: 17px;
  margin-bottom: 2.7em;
}
@media screen and (max-width: 1140px) {
  .progress__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}
.progress__main-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #ff808b;
  margin-bottom: 27px;
}
.progress__main-subscription {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}
.progress__main-img {
  height: 15.9em;
  margin-top: -3em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
@media screen and (max-width: 1140px) {
  .progress__main-img {
    margin-top: 0;
  }
}
.progress__bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1680px) {
  .progress__bars {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
}
@media screen and (max-width: 1280px) {
  .progress__bars {
    -webkit-transform: scale3d(1.1, 1, 1);
            transform: scale3d(1.1, 1, 1);
  }
}
@media screen and (max-width: 1140px) {
  .progress__bars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 34em;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 520px) {
  .progress__bars {
    width: 100%;
    height: 100%;
  }
}
.progress__bars-item {
  padding: 0 1.7em 3em 1.7em;
  background: #fdfdfe;
  border-radius: 17px;
}
.progress__bars-item:first-child {
  margin-right: 2em;
  width: 27vw;
  height: 29em;
}
@media screen and (max-width: 1140px) {
  .progress__bars-item:first-child {
    margin-right: 0;
    margin-bottom: 1em;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .progress__bars-item:first-child {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    height: 100%;
    width: 130%;
  }
}
.progress__bars-item:last-child {
  width: 34.8vw;
  height: 29em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1140px) {
  .progress__bars-item:last-child {
    width: 100%;
  }
}
.progress__bars-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #000000;
  white-space: nowrap;
}
@media screen and (max-width: 520px) {
  .progress__bars-item-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.progress__bars-item-content:nth-child(1) {
  border: none;
  padding-top: 2.1em;
  padding-bottom: 1em;
}
.progress__bars-item-content:last-child {
  border: none;
  padding-bottom: 2.6em;
}
.progress__bars-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #111026;
  margin: 0;
}
@media screen and (max-width: 520px) {
  .progress__bars-item-title {
    white-space: nowrap;
    font-size: 13px;
  }
}
.progress__bars-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111026;
  text-decoration: none;
}
.progress__bars-item-subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
  margin-left: 0.5em;
  margin-right: 2.1vw;
  text-align: left;
  white-space: nowrap;
}
.progress__bars-item-subscription:last-child {
  margin-right: 0;
}
@media screen and (max-width: 520px) {
  .progress__bars-item-subscription {
    font-size: 12px;
  }
}
.progress__bars-item-count {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ff808b;
  margin-left: 1em;
}
.progress__bars-item-subscriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1.7em;
}
.progress__bars-item-bars {
  position: relative;
  left: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
  margin-left: -1em;
  margin-bottom: 3.2em;
  height: 12.2em;
}
.progress__bars-item-bar {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  margin-bottom: 3.5em;
  text-align: left;
  margin-left: -9em;
  width: 100%;
  height: 5px;
}
.progress__bars-item-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 520px) {
  .progress__bars-item-skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.progress__bars-item-skills--paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
  margin-right: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progress__bars-item-skills--paragraph::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background-color: #ff808b;
  margin-left: -1.3em;
}
.progress__bars-item-skills--paragraph:nth-of-type(2)::before {
  background-color: #4d4cac;
}
.progress__bars-item-skills--paragraph:nth-of-type(3)::before {
  background-color: #5e81f4;
}
.progress__bars-item-skills--paragraph:nth-of-type(4)::before {
  background-color: #c8c9e9;
}
@media screen and (max-width: 1280px) {
  .progress__bars-item-skills--paragraph {
    margin-right: 1.5em;
  }
}
.progress__courses-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1680px) {
  .progress__courses-items {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
  }
}
@media screen and (max-width: 1280px) {
  .progress__courses-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 21em;
    margin-left: auto;
    margin-right: auto;
  }
}
.progress__courses-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.1em;
}
@media screen and (max-width: 1280px) {
  .progress__courses-content {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 1140px) {
  .progress__courses-content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.progress__courses-content-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #111026;
}
.progress__courses-content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111026;
  text-decoration: none;
}
.progress__courses-content-img {
  margin-left: 1.5em;
}
.progress__courses-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.4em;
}
.progress__courses-item:nth-child(1) {
  background-color: #4d4cac;
  border-radius: 20px;
  margin-right: 1.5em;
}
@media screen and (max-width: 1280px) {
  .progress__courses-item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.progress__courses-item:nth-child(2) {
  background: #9698d6;
  border-radius: 20px;
  margin-right: 1.5em;
}
@media screen and (max-width: 1280px) {
  .progress__courses-item:nth-child(2) {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.progress__courses-item:nth-child(3) {
  background: #ff808b;
  border-radius: 20px;
}
.progress__courses-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 12.5em;
}
.progress__courses-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.progress__courses-item-img {
  margin-left: 4em;
}
.progress__courses-item-level {
  padding: 17px 19px;
  margin-right: 1.1em;
  border-radius: 12px;
  background: rgba(254, 254, 254, 0.2);
  color: #ffffff;
}
.progress__courses-item-subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fefefe;
  opacity: 0.8;
  margin: 0;
}
.progress__courses-item-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #fefefe;
  text-decoration: none;
}

progress {
  height: 5px;
  border: 0;
  border-radius: 20px;
  width: 5.7em;
}

progress::-webkit-progress-bar {
  height: 5px;
  border: 0;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  height: 5px;
  border: 0;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background-color: #dcdce5;
  width: 100%;
}

progress {
  background-color: black;
}

progress::-webkit-progress-value {
  background-color: #5e81f4 !important;
}

progress::-moz-progress-bar {
  background-color: #5e81f4 !important;
}

progress {
  color: #5e81f4;
}

.progress__bars-item-bar {
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.progress__bars-item-bar::-webkit-progress-value {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, rgb(94, 129, 244)), color-stop(33%, rgb(200, 201, 233)), color-stop(57%, rgb(181, 183, 226)), color-stop(57%, rgb(81, 89, 190)), color-stop(74%, rgb(77, 76, 172)), color-stop(74%, rgb(255, 128, 139)));
  background-image: linear-gradient(90deg, rgb(94, 129, 244) 33%, rgb(200, 201, 233) 33%, rgb(181, 183, 226) 57%, rgb(81, 89, 190) 57%, rgb(77, 76, 172) 74%, rgb(255, 128, 139) 74%);
  border-radius: 10px;
}

.profile {
  background-color: #ffffff;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 1em;
}
@media screen and (max-width: 1280px) {
  .profile {
    position: absolute;
    top: 1em;
    left: -0.5em;
    padding-top: 0.5em;
    width: 25%;
    background-color: transparent;
  }
}
@media screen and (max-width: 1140px) {
  .profile {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 1vw;
    top: 24vh;
  }
}
@media screen and (max-width: 640px) {
  .profile {
    left: -6vw;
  }
}
@media screen and (max-width: 480px) {
  .profile {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 340px) {
  .profile {
    top: 20vh;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.profile__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
}
@media screen and (max-width: 1280px) {
  .profile__navigation {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1140px) {
  .profile__navigation {
    position: relative;
    left: 4vw;
    bottom: 20vh;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 470px) {
  .profile__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.profile__navigation-logout {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}
@media screen and (max-width: 1140px) {
  .profile__navigation-logout {
    margin-right: 2em;
  }
}
@media screen and (max-width: 470px) {
  .profile__navigation-logout {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.profile__information {
  text-align: center;
  margin-bottom: 4em;
}
@media screen and (max-width: 1280px) {
  .profile__information {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 1140px) {
  .profile__information {
    min-width: 40vw;
    position: relative;
    bottom: 10vh;
    left: 20vw;
  }
}
@media screen and (max-width: 920px) {
  .profile__information {
    left: 16vw;
  }
}
@media screen and (max-width: 740px) {
  .profile__information {
    min-width: 34vw;
  }
}
@media screen and (max-width: 610px) {
  .profile__information {
    left: 23vw;
  }
}
@media screen and (max-width: 520px) {
  .profile__information {
    top: -8em;
    left: 12em;
  }
}
@media screen and (max-width: 370px) {
  .profile__information {
    top: -8em;
    left: 12em;
  }
}
@media screen and (max-width: 300px) {
  .profile__information {
    left: 10em;
  }
}
.profile__information-photo {
  width: 100%;
  max-width: 10.5em;
  max-height: 10.5em;
  margin-bottom: 1.8em;
}
@media screen and (max-width: 1130px) {
  .profile__information-photo {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1140px) {
  .profile__information-photo {
    max-height: 19em;
    max-width: 20em;
  }
}
.profile__information-button {
  text-align: center;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background: #5e81f4;
  border: none;
  color: #ffffff;
  position: relative;
  top: -3em;
  right: 3.5em;
  cursor: pointer;
}
.profile__information-button:hover {
  background-color: #f5f5fb;
  color: #5e81f4;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
@media screen and (max-width: 1130px) {
  .profile__information-button {
    top: -2em;
    right: 2.5em;
  }
}
.profile__information-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #111026;
  margin-bottom: 0.7em;
}
.profile__information-subscription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a2a2c2;
}
.profile__levels {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 2.3em 21%;
  grid-template-rows: 30% 21%;
  gap: 2.3em;
  max-width: 20em;
  margin-bottom: 4em;
}
@media screen and (max-width: 1680px) {
  .profile__levels {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    position: relative;
    left: -2em;
  }
}
@media screen and (max-width: 1280px) {
  .profile__levels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 1140px) {
  .profile__levels {
    position: relative;
    left: 23vw;
    bottom: 11vh;
  }
}
@media screen and (max-width: 920px) {
  .profile__levels {
    left: 21vw;
    bottom: 17vh;
  }
}
@media screen and (max-width: 520px) {
  .profile__levels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: -5em;
    top: -1em;
  }
}
@media screen and (max-width: 470px) {
  .profile__levels {
    left: -1em;
  }
}
@media screen and (max-width: 320px) {
  .profile__levels {
    left: -2em;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
.profile__levels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 21.8em;
}
.profile__levels-item:nth-child(1) {
  margin-bottom: 2.5em;
}
@media screen and (max-width: 520px) {
  .profile__levels-item:nth-child(1) {
    margin: 0;
  }
}
@media screen and (max-width: 1280px) {
  .profile__levels-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.profile__levels-item-content {
  margin-right: 2.5em;
  margin-left: 1.6em;
  max-width: 7.8em;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .profile__levels-item-content {
    text-align: center;
    margin: 1em 0 1em 0;
  }
}
.profile__levels-item-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4em;
  background: #f5f5f7;
  border-radius: 12px;
}
.profile__levels-item-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #111026;
}
.profile__levels-item-subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
  margin: 0;
  white-space: nowrap;
}
.profile__levels-item-progressbar {
  max-width: 5.3em;
}
.profile__reminders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70%;
  grid-template-columns: 70%;
}
@media screen and (max-width: 1140px) {
  .profile__reminders {
    position: relative;
    left: -50vw;
    top: -11vh;
  }
}
@media screen and (max-width: 920px) {
  .profile__reminders {
    left: -64vw;
  }
}
@media screen and (max-width: 550px) {
  .profile__reminders {
    left: -24em;
  }
}
@media screen and (max-width: 520px) {
  .profile__reminders {
    top: -5em;
    left: -31em;
  }
}
@media screen and (max-width: 480px) {
  .profile__reminders {
    top: -3em;
    left: -26em;
  }
}
@media screen and (max-width: 370px) {
  .profile__reminders {
    left: -24.5em;
  }
}
.profile__reminders-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #111026;
}
.profile__reminders-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 5em));
  justify-items: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.3em;
}
.profile__reminders-content:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1140px) {
  .profile__reminders-content {
    position: relative;
    top: -5vh;
    left: -4vw;
    margin-bottom: 1em;
  }
}
.profile__reminders-content-text {
  text-align: left;
}
.profile__reminders-content-icon {
  padding: 1.1em 1.1em;
  border-radius: 12px;
}
.profile__reminders-content-icon:nth-child(1) {
  color: #6083f4;
  background: #eef2fd;
}
.profile__reminders-content-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #131336;
  white-space: nowrap;
  margin-bottom: 8px;
}
@media screen and (max-width: 1280px) {
  .profile__reminders-content-title {
    margin-top: 1em;
  }
}
.profile__reminders-content-subscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
}

.profile__reminders-content:nth-child(2) .profile__reminders-content-icon {
  background: #fef2f3;
  color: #ff606d;
}

.profile__reminders-content:nth-child(1) .profile__reminders-content-icon {
  position: relative;
  color: #a2a2c2;
}

.profile__reminders-content:nth-child(1) .profile__reminders-content-icon::after {
  content: "";
  position: absolute;
  right: 1.2em;
  width: 0.5em;
  height: 0.5em;
  background-color: #ff808b;
  border-radius: 20px;
}